header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid black;
}

li {
    display: inline-block;
    margin: 1rem;
    cursor: pointer;
}

header h1{
    color: rgb(226, 43, 144);
}

.imgLogo {
    width: 16rem;
}