p{
    font-size: medium;
}

.form-group{
    color: rgb(177, 3, 119)
}

.botonFinalizar{
    background-color: #e068a4;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 0.5rem 1rem;
    text-decoration: none;
    text-align: center;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
  }
  
  .botonFinalizar:hover {
    background-color: #a1086e;
  }